body {
  margin: 0;
  padding: 0 150px;
  font-family: "Montserrat", sans-serif;
  background-color: #fadef6;
}

.bolo-img {
  width: 100%;
  height: 60vh;
  border: 2px solid #f38305;
}

h1 {
  color: #f38305;
  font-size: 40px;
}

h2 {
  color: #f38305;
}

h3 {
  font-weight: 500;
}

li {
  font-weight: 500;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

h4 {
  text-align: center;
  transition: 0.8s;
}

a {
  text-decoration: none;
  color: #f38305;
  transition: 0.8s;
}

a:hover {
  color: black;
}

h4:hover {
  transform: scale(1.2);
}
